---
import BaseLayout from '../layouts/Layout.astro';
import ThreeDCard from '../components/ThreeDCard.astro';
import 'animate.css';
---
<BaseLayout>
  <!-- 服务器Logo -->
  <div class="fixed top-4 left-4 z-50">
    <img src="https://img.cdn1.vip/i/691e9462ce3cf_1763611746.webp" alt="服务器Logo" class="w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h-32 lg:w-40 lg:h-40 rounded-lg">
  </div>

  <div class="min-h-screen flex flex-col items-center justify-center overflow-auto xl:overflow-hidden">
    


    <div class="m-auto grid gap-2 sm:gap-3 md:gap-4 grid-cols-2 auto-rows-[110px] sm:auto-rows-[120px] sm:grid-cols-3 md:grid-cols-6 lg:grid-cols-12 p-2 sm:p-3 md:p-4 pt-8 sm:pt-12 md:pt-16 lg:pt-32 xl:pt-0 max-w-screen-xl w-full">
      <ThreeDCard 
        imageUrl="https://img.cdn1.vip/i/691e81bb560c3_1763606971.webp" 
        title="网页地图"
        colSpan="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8" 
        rowSpan="row-span-2" 
        animate="animate__animated animate__fadeInDown"
        bgColor="bg-yellow"
        href="http://111.170.33.14:38100/"
      />
      <ThreeDCard
        imageUrl="https://img.cdn1.vip/i/691e8384b3281_1763607428.webp"
        title="进入服务器"
        colSpan="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-4" 
        rowSpan="row-span-1 lg:row-span-4" 
        animate="animate__animated animate__fadeInRight"
        bgColor="bg-green"
        href="/join"
      />
      <ThreeDCard
        imageUrl="https://img.cdn1.vip/i/691e873b0dd6e_1763608379.webp" 
        title="服务器更新"
        colSpan="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-4" 
        rowSpan="row-span-2 lg:row-span-4" 
        animate="animate__animated animate__fadeInLeft"
        bgColor="bg-purple"
        href="https://lyjdtz.life/chspif"
      />
      <ThreeDCard
        imageUrl="https://img.cdn1.vip/i/691e8149131bd_1763606857.webp" 
        title="为什么选择我们"
        colSpan="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-4" 
        rowSpan="row-span-1 sm:row-span-2" 
        animate="animate__animated animate__fadeIn"
        bgColor="bg-black"
        href="/server-info"
      />
      <ThreeDCard
          imageUrl="https://img.cdn1.vip/i/691e852ac775a_1763607850.webp"  
          title="赞助"
          colSpan="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8" 
          rowSpan="row-span-1 sm:row-span-2" 
          animate="animate__animated animate__fadeInUp" 
          bgColor="bg-red"
          href="/coming-soon"
        />
    </div>
  </div>
</BaseLayout>
